{% extends 'base.html.twig' %}

{% block title %}Espace d'administration{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gallery/css/reset.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/gallery/css/style_admin.css') }}">
    {% block addCss %}{% endblock %}
{% endblock %}


{% block body %}
    <div id="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
